<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".about_text1" %>  
  <em><%= link_to t(".rails_url"), t(".rails_link") %></em> 
  <%= t ".about_text2" %>
  <%= link_to t(".book_url"), t(".book_link") %> 
  <%= t(".about_text3") %>
  <%= link_to t(".screencast_series_url"), t(".screencast_series_link") %>
  <%= t(".about_text4") %>
  <%= link_to t(".ruby_on_rails_url"), t(".ruby_on_rails_link") %>.
  <%= t ".about_text5" %>
</p>
