<% provide :title, t(".title") %>
<h1><%= t ".para_1" %></h1>
<p>
  <%= t ".para_2" %>
  <%= link_to t(".rails_url"), t(".rails_link") %>
  <%= t ".para_3" %>
  <%= link_to t(".book_url"), t(".book_link") %>
</p>
