<% provide :title, t(".title") %>
<h1><%= t ".help_text1" %></h1>
<p>
  <%= t ".help_text2" %>
  <%= link_to t(".rails_url"), t(".rails_link") %>
  <%= t ".help_text3" %>
  <%= link_to t(".book_url"), t(".book_link") %>
</p>
