<h1><%= t ".password_reset_text" %></h1>

<p><%= t ".click_text" %></p>

<%= link_to t(".reset_password_text"), edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t ".link_text" %></p>

<p>
<%= t ".request_text" %>
</p>
