<% provide(:title, t(".title")) %>
<% provide(:button_text, t(".save_text")) %>
<h1><%= t ".profile_text" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label t(".name_text") %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label t(".email_text") %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label t(".password_text") %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label t(".password_confirmation_text"), t(".confirm") %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit t(".save_text"), class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
