<footer class="footer">
  <small>
    <%= t ".footer_text1" %> <%= link_to t(".footer_text2"), t(".rails_url")%>
    <%= t ".footer_text3"%> <%= link_to t(".footer_text4"), t(".author_url")%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".footer_text6"), about_path %></li>
      <li><%= link_to t(".footer_text7"), contact_path %></li>
      <li><%= link_to  t(".footer_text5"), t(".news_url")%>
    </ul>
  </nav>
</footer>
